# Файлы и папки операционной системы
.DS_Store
Thumbs.db

# Файлы редактора
.idea
*.sublime*
.vscode

# Вспомогательные файлы
*.log*
node_modules/
reports/
/build/img/
/src/pages/images/
/src/pages/images-cache/

# Папка с собранными файлами проекта
# build/
