extends common/layout

block content
	main.main
		h2 Title
		include includes/index/banner
		hr
		p paragraph sdfsdf
		ul.items
			li.items__t
			li.items__t
			li.items__t
		ul.items
			li.items__t
			li.items__t
			li.items__t
		#pdm
			.item 123
		#pdm1
			.item 123
